* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top left, rgb(100, 163, 163), royalblue);
  height: 100vh;
  display: grid;
  place-items: center;
}

.work {
  width: 80%;
  background: #fff;
  border-radius: 24px;
  position: absolute;
}

.add {
  text-align: center;
  padding: 20px;
}

.add input {
  border-radius: 24px;
  border: none;
  background-color: rgb(199, 221, 241);
  padding: 10px;
  width: 70%;
}

.add input:focus {
  border: 2px solid royalblue;
}

.add button {
  background-color: rgb(9, 101, 187);
  padding: 10px;
  border-radius: 24px;
  border: none;
  width: 20%;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.add button:hover {
  background-color: beige;
  color: #262626;
  transition: 0.3s;
  cursor: pointer;
}

.added {
  border-radius: 24px;
  text-align: center;
  list-style-type: none;
  padding: 20px;
}

.added li {
  background-color: royalblue;
  width: 22rem;
  padding: 12px;
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  position: relative;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}


.added li:hover {
  transition: 0.3s;
  cursor: pointer;
}

.added li button {
  padding: 10px;
  position: absolute;
  right: 30px;
  top: 3px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.added li button:hover {
  cursor: pointer;
  background: #262626;
  color: #fff;
}